@if (routeDetails()) {
  <div>
    <b>{{ routeDetails().name }} - {{ routeDetails().direction }}</b><br/>
    
    @if (routeDetails().points && routeDetails().points.length > 0) {
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Odometer</th>
            <th>Distance</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (point of routeDetails().points; track point.name) {
            <tr (click)="openDetails(point, $index)" class="clickable-row">
              <td>
                {{ point.name }}
                @if (point.comment) {
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" style="vertical-align: middle; margin-left: 6px; color: #0056b3;" title="Has comment">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                  </svg>
                }
              </td>
              <td>{{ point.odometer ?? 0 }}</td>
              <td>{{ point.distance }}
                <button (click)="$event.stopPropagation(); recalculateDistance(point, $index)">{{point.cumulativeDistnace}}</button>
              </td>
              <td>
                <button (click)="$event.stopPropagation(); insertPointMobile(point, $index)">Insert</button>
                <button (click)="$event.stopPropagation(); deletePointMobile(point, $index)">Delete</button>
                <button (click)="$event.stopPropagation(); editPointMobile(point, $index)">Edit</button>
                <button (click)="$event.stopPropagation(); openDetails(point, $index)">Details</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <p>No points on this route.</p>
    }

    <button [routerLink]="['/route-edit', routeDetails().id]">Edit Route</button>
    <button (click)="deleteRoute()">Delete Route</button>
    <button (click)="addPointMobile()">Add Point Mobile</button>
    <button (click)="removeOdometers()">Remove Odometers</button>
  </div>
}