@if (routes$ | async; as routes) {
  @if (routes.length > 0) {
    <table>
      <thead>
        <tr>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of routes">     
          <td>
            <a [routerLink]="['/route-details', route.id]">{{ route.id }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  } @else {
    <p class="empty-message">No routes available.</p>
  }
} @else {
  <p class="loading-message">Route list loading... Please wait.</p>
}